# **Non Graded Challenge 1 - SQL (Basic)**

Non-Graded Assignment ini dibuat guna mengevaluasi pembelajaran pada Hacktiv8 Data Science Fulltime Program khususnya pada konsep SQL

---

Langkah - langkah sebelum mengerjakan :

- Gunakan dataset dari URL [ini](https://github.com/ardhiraka/FSDS_Guidelines/blob/master/p0/w2/assignments/NG9%20-%20SQL.md#non-graded-challenge-9).
- Buatlah table teachers dan courses. 
- Masukkan semua data pada masing-masing table.
- Table teachers akan memiliki 15 data.
- Table courses akan memiliki 20 data.
  
Soal : Carilah dosen yang memiliki gaji tertinggi per masing-masing mata kuliah. Tampilkan semua atribut dosen dan semua atribut mata kuliahnya. Urutkan hasilnya berdasarkan nama mata kuliahnya secara ascending (A-Z).


---


#**ANSWER**

**A. Creat Table**

**A1.Creat table Teacher**

In [ ]:
CREATE TABLE teachers (
    id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    first_name varchar(25) NOT NULL,
    last_name varchar(50),
    school varchar(50) NOT NULL,
    hire_date date,
    salary numeric
    );

**A2 Creat table Courses**

In [ ]:
CREATE TABLE courses (
    id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    name varchar(20),
    teachers_id INT,
    total_students INT
    );

**B. Insert Data**

**B1. insert to teacher table with param id**

In [ ]:
INSERT INTO teachers (id,first_name, last_name, school, hire_date, salary)
    VALUES (1,'Janet', 'Smith', 'MIT', '2011-10-30', 36200),
           (2,'Lee', 'Reynolds', 'MIT', '1993-05-22', 65000),
           (3,'Samuel', 'Cole', 'Cambridge University', '2005-08-01', 43500),
           (4,'Samantha', 'Bush', 'Cambridge University', '2011-10-30', 36200),
           (5,'Betty', 'Diaz', 'Cambridge University', '2005-08-30', 43500),
           (6,'Kathleen', 'Roush', 'MIT', '2010-10-22', 38500),
           (7,'James', 'Diaz', 'Harvard University', '2003-07-18', 61000),
           (8,'Zack', 'Smith', 'Harvard University', '2000-12-29', 55500),
           (9,'Luis', 'Gonzales', 'Standford University', '2002-12-01', 50000),
           (10,'Frank', 'Abbers', 'Standford University', '1999-01-30', 66000);

**B2. insert to teacher table without param id**

In [ ]:
INSERT INTO teachers (first_name, last_name, school, hire_date, salary)
    VALUES ('Samuel', 'Abbers', 'Standford University', '2006-01-30', 32000),
           ('Jessica', 'Abbers', 'Standford University', '2005-01-30', 33000),
           ('Tom', 'Massi', 'Harvard University', '1999-09-09', 39500),
           ('Esteban', 'Brown', 'MIT', '2007-01-30', 36000),
           ('Carlos', 'Alonso', 'Standford University', '2001-01-30', 44000);

**B3. insert to table course**

In [ ]:
INSERT INTO courses (name, teachers_id, total_students)
    VALUES  ('Calculus', 2, 20),
            ('Physics', 2, 10),
            ('Calculus', 1, 30),
            ('Computer Science', 1, 20),
            ('Politic', 13, 15),
            ('Algebra', 2, 10),
            ('Algebra', 13, 30),
            ('Computer Science', 10, 35),
            ('Life Science', 11, 20),
            ('Chemistry', 9, 22),
            ('Chemistry', 8, 16),
            ('Calculus', 5, 19),
            ('Politic', 4, 17),
            ('Biology', 6, 22),
            ('Physics', 3, 29),
            ('Biology', 8, 28),
            ('Calculus', 12, 34),
            ('Physics', 13, 34),
            ('Biology', 14, 25),
            ('Calculus', 15, 20);

**C. Cases**
- Carilah dosen yang memiliki gaji tertinggi per masing-masing mata kuliah.
- Tampilkan semua atribut dosen dan semua atribut mata kuliahnya
- Urutkan hasilnya berdasarkan nama mata kuliahnya secara ascending (A-Z).

Query mencari dosen yang memiliki gaji tertinggi per masing masing makul

In [ ]:
SELECT *
 FROM teachers join courses on teachers.id = courses.teachers_id
ORDER by courses.name ASC, teachers.salary DESC;

Query  select semua atribut dosen dan matakuliah

In [ ]:
SELECT *
 FROM Teachers, Course;

Query join tabel dosen dan matakuliah

In [ ]:
SELECT * 
FROM teachers join Course;

Query mengurutkan hasil berdasarkan nama matakuliah secara ascending

In [ ]:
SELECT *
 FROM teachers join courses on teachers.id = courses.teachers_id
ORDER by courses.name ASC;

Hasil QUery pada case menghasilkan seperti gambar berikut

![ngc1.PNG]()